.qr-generator {
    display: block;
    max-width: 500px;
}

form,
label,
input,
button {
    width: 100%;
    margin-bottom: 10px;
}

.qr-generator__image {
    border: 1px solid transparent;
}

.qr-generator__image--border {
    border: 1px solid black;
}
